<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Form</title>
</head>

<body>
    <h1 th:text="${book.id == null} ? 'Create Book' : 'Edit Book'">Book Form</h1>

    <form th:action="${book.id == null} ? @{/books/create} : @{/books/edit/{id}(id=${book.id})}" th:object="${book}"
        method="post">
        <div>
            <label>Title:</label>
            <input type="text" th:field="*{title}" />
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></span>
        </div>
        <br />
        <div>
            <label>Author:</label>
            <input type="text" th:field="*{author}" />
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red;"></span>
        </div>
        <br />
        <div>
            <label>ISBN:</label>
            <input type="text" th:field="*{isbn}" />
            <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" style="color:red;"></span>
        </div>
        <br />
        <button type="submit">Save</button>
    </form>
    <br />
    <a th:href="@{/books}">Back to List</a>
</body>

</html>